* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
}

.punch-line-section {
    background-color: #06bb06;
    padding: 5px;
    text-align: center;
    color: white;
}

.title-image-section {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.title-section {
    width: 50%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
i {
    color: #06bb06;
    font-size: 20px;
}
.keypoints {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.keypoints h3 {
    margin-left: 20px;
    font-size: 20px;
}
.sendproposal-button {
    margin-top: 20px;
}
.sendproposal-button button {
   background-color: #06bb06;
   border: 0px;
   color: white;
   /* width: 50px; */
   /* height: 30px; */
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
}
.sendproposal-button input {
    width: 50%;
    height: 100%;
}
.image-section {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.image-section img {
    border-radius: 20px;
    border: 10px double black;
    width: 70%;
}
.horizontal-line {
    width: 100%;
    color: #06bb06;
}
.our-Services {
    text-align: center;
    /* height: 50vh; */
    justify-content: center;
    padding-top: 30px;
}
.services {
    width: 100px;
    background-color: #006B94;
   
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.servicesection-row-one {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 30px;
}
.servicesection-row-two {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 30px;
}
.servicesection-row-three {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 30px;
}
.card-body {
    text-align: center;
}
.ourservices-heading {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.services-sections {
    text-align: center;
}
.why-section {
    text-align: center;
    margin-top: 50px;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}